@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);
@import url(https://fonts.googleapis.com/css?family=DynaPuff:regular,500,600,700);

/*PALETA DE CORES*/
:root {
    --brown: #876653;
    --medium-brown: #BD9076;
    --dark-green: #262721;
    --light-brown: #D2C8BC;
    --highligts: #FFDA45;
    --button-adption: #FFD166;
    --light-green: #4A4C41;
    --light-gray: #F6F4F5;
}

/*CSS PADRÃO*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

html::-webkit-scrollbar {
    width: 0.7rem;
}

html::-webkit-scrollbar-track {
    background-color: transparent;
}

html::-webkit-scrollbar-thumb {
    background: var(--brown);
    border-radius: 3px;
}

/* HEADER */
header {
    height: 100vh;
    background-image: url(assets/background_header.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.header-top {
    display: flex;
    justify-content: space-between;
}

.header-top > .logo > .logo-paws-header {
    font-size: 60px;
    color: var(--brown);
    border: var(--dark-green);
    rotate: -30deg;
    margin: 25px;
    cursor: pointer;
}

.navbar > ul {
    display: flex;
    gap: 30px;
    margin: 30px;
}

.navbar > ul > li > a {
    font-size: 20px;
    font-weight: 500;
    color: var(--dark-green);
    cursor: pointer;
}

.navbar > ul > li > a:hover {
    color: var(--brown);
}

.header-bottom {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    padding-right: 120px;
    padding-top: 100px;
}

.right > p {
    font-size: 45px;
    color: var(--dark-green);
    line-height: 45px;
}

.right > p > .destaque {
    font-family: 'DynaPuff', sans-serif;
    font-size: 60px;
    color: var(--brown);
}

.btn-header > button {
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: 500;
    background-color: var(--dark-green);
    color: var(--light-brown);
    margin-top: 10px;
    border: none;
    border-radius: 10px;
    padding: 5px 15px;
    transition: background-color 0.3s, color 0.3s;
    cursor: pointer;
}

.btn-header > button:hover {
    background-color: var(--light-green);
    color: var(--light-gray);
}

.btn-header > button > span {
    font-size: 18px;
    margin-left: 10px;
}


/* SECTION - COMO FUNCIONA */
#comoFunciona {
    background-color: var(--light-gray);
}

#comoFunciona > .titlePage > h3 {
    color: var(--medium-brown);
}

#comoFunciona > .titlePage > h2 {
    color: var(--brown);
}

.section-content {
    text-align: center;
}

.list-card  {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.list-card > .item {
    width: 340px;
    text-align: center;
    padding: 0 30px 0 30px;
}

.list-card > .item > .icon-item-content {
    font-size: 40px;
    color: var(--brown);
}

.list-card > .item > .item-title {
    color: var(--brown);
    font-size: 20px;
    font-weight: 600;
    margin: 10px 0 10px 0;
}

.list-card > .item > .description {
    color: var(--medium-brown);
}

.divider-paws > .divider {
    width: 60px;
}

.btn-moreInfo {
    align-items: center;
    justify-content: center;
}

.btn-moreInfo > button {
    font-size: 16px;
    font-weight: 500;
    background-color: var(--highligts);
    color: var(--dark-green);
    margin: 30px;
    border: none;
    border-radius: 10px;
    padding: 5px 15px;
    transition: background-color 0.3s, color 0.3s;
    cursor: pointer;
}

.btn-moreInfo > button:hover {
    /*arrumar cor*/
}
















.titlePage {
    color: var(--dark-green);
    line-height: 25px;
    text-align: center;
    padding: 35px;
}

.titlePage > h3 {
    font-size: 14px;
    color: var(--light-green);
    font-weight: 500;
}

.titlePage > h2 {
    font-size: 30px;
}

/* SECTION - ANIMAIS */
#animais {
    background-color: var(--light-brown);
    text-align: center;
    align-items: center;
    justify-content: center;

}

.filtros > button {
    align-items: center;
    font-size: 16px;
    font-weight: 500;
    background-color: var(--brown);
    color: var(--light-gray);
    margin-top: 10px;
    border: none;
    border-radius: 10px;
    padding: 5px 10px;
    transition: background-color 0.3s, color 0.3s;
    cursor: pointer;
}

.filtros > .filtro:hover {
    background-color: var(--dark-green);
    color: var(--light-gray);
}

.filtros > .filtro > span {
    font-size: 18px;
    margin-left: 5px;
    align-items: center;
    justify-content: center;
}

/*  SECTION - DEPOIMENTOS */
#depoimentos {
    background-color: var(--light-gray);
}

/*  SECTION - SUPORTE */
#suporte {
    background-color: var(--light-brown);
}

/*  SECTION - ENDEREÇO */
#endereco {
    height: 100vh;
    background-color: var(--light-gray);
}

.endereco-content {
    text-align: center;
}

.maps {
    width: 700px;
    height: 300px;
}

.rua > p {
    color: var(--dark-green);
    font-weight: 500;
    margin: 10px;
}

/*  SECTION - CONTATO */
#contato {
    /*height: vh;*/
    background-image: url(assets/background_contact.png);
    background-repeat: no-repeat;
    background-size: cover;
}

/* FOOTER */
footer {
    height: 9vh;
    background-color: var(--dark-green);
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer > p {
    font-size: 14px;
    color: var(--light-gray);
}